{
  "printWidth": 140,
  "singleQuote": true,
  "quoteProps": "preserve",
  "semi": true,
  "useTabs": true,
  "tabWidth": 2,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "strict",
  "trailingComma": "es5"
}
